---
const { name, role, image } = Astro.props;
---

<div class="flex flex-col w-[278px] h-[337px] mt-[44px]">
  <img src={image} alt={name} class="w-[278px] h-[294px] rounded-md" />
  <h2 class="text-white text-[20px] font-bold">{name}</h2>
  <p class="text-[#D57AFA] text-[16px]">{role}</p>
</div>
