---
import FormContact from "./FormContact.astro";
---

<section
  class="w-screen h-screen overflow-hidden relative mx-auto lg:w-[1140px] py-44 flex flex-col"
  id="contacto"
>
  <h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">
    Contacto
  </h1>
  <div class="w-full">
    <FormContact/>
  </div>
</section>
