---
import GithubLogo from "./GithubLogo.astro"
import LOGO from "../assets/logo-GEMLEX.png"
import { Image } from "astro:assets";
---
<header class="py-3 px-10 flex items-center fixed top-2 w-full justify-center z-40">
  

  <nav class="flex flex-row gap-x-4 opacity-80  w-[660px] justify-start items-center">
    <a href="/" class="flex">
      <Image src={LOGO} alt="GEMLEX LOGO" class="w-[100px] h-[25px]"/>
    </a>
    <a href="/#equipo">Team</a>
    <a href="/#proyectos">Projectos</a>
    <a href="/#nosotros">Nosotros</a>
    <a href="/#contacto">Contacto</a>
  </nav>

  <div class=" flex w-[550px] justify-end">
    <a href="https://github.com/GEMELX-TECHNOLOGY">
      <GithubLogo/>
    </a>

  </div>
</header>
