---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const heroTitle = t("hero.title");
const heroSubtitle = t("hero.subtitle");
const heroPlaceholder = t("hero.placeholder");
const heroButton = t("hero.button");
---

<section
  class="max-w-[1113px] h-[392px] justify-center items-center flex flex-col mx-auto mt-[180px] bg-[url('/background.png')] bg-center bg-cover rounded-[50px]"
>
  <div class="items-center flex flex-col w-[1000px]">
    <h1
      class="text-white font-extrabold text-[60px] text-center"
      set:html={heroTitle}
    />

    <p
      class="text-white text-[18px] mt-4 font-semibold text-center"
      set:html={heroSubtitle}
    />
  </div>
  <div class="flex flex-row w-[1000px] items-center justify-center">
    <input
      type="email"
      class="w-[348px] bg-[#ECECEC] text-[18px] font-semibold px-8 py-3 mt-8 rounded-[10px]"
      placeholder={heroPlaceholder}
    />
    <button
      class="bg-[#8A8FEB] hover:bg-[#6064b1] transition w-[203px] ml-[33px] text-white font-semibold text-[18px] px-8 py-3 mt-8 rounded-[10px]"
      set:html={heroButton}
    />
  </div>
</section>
