---
const { title, description, image } = Astro.props;
---

<div class="w-[407px] h-[144px]">
  <img src={image} alt={title} class="w-full h-[202px] object-cover" />
  <h2 class="text-[25px] text-white font-semibold">{title}</h2>
  <p class="text-base text-[#78A4F0] font-semibold">{description}</p>
</div>
