---
import EmailIcon from "./EmailIcon.astro"
import GitHubIcon from "./GitHubIcon.astro"
---

<div class="relative w-[740px] overflow-hidden justify-center items-center" id="slider-container">
  <!-- Contenedor del slider -->
  <div
    class="flex w-full h-full snap-x snap-mandatory overflow-x-hidden"
    id="slider"
  >
    <div
      class="flex-shrink-0 w-full max-w-md snap-center rounded-lg mx-auto my-5"
    >
      <div class="flex flex-col items-center p-5">
        <img
          src="/gera.jpg"
          alt="Gerardo Ontiveros"
          class="w-24 h-24 rounded-full mx-auto"
        />
        <h1 class="font-bold text-xl mt-3">Gerardo Ontiveros</h1>
        <p class="text-center mt-2 opacity-80">
          Programador FullStack, apasionado por aprender cosas nuevas y
          enfrentar nuevos desafíos. Chihuahua, México 🇲🇽.
        </p>
        <nav class="flex flex-wrap gap-4 mt-8">
          <a href="https://github.com/Gerardo-Ontiveros" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black duration-150">
            <GitHubIcon/>
            GitHub
          </a>
          <a href="mailto:gera.onti@gemlex.dev" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <EmailIcon/>
            Contacto
          </a>
        </nav>
      </div>
    </div>

    <div
      class="flex-shrink-0 w-full max-w-md snap-center rounded-lg mx-auto my-5"
    >
      <div class="flex flex-col items-center p-5">
        <img
          src="/mich.jpg"
          alt="Michelle Ortega"
          class="w-24 h-24 rounded-full mx-auto"
        />
        <h1 class="font-bold text-xl mt-3">Michelle Ortega</h1>
        <p class="text-center mt-2 opacity-80">
          Programadora Backend. Comprometida con el aprendizaje continuo y 
          la superación personal Durango, México 🇲🇽.
        </p>
        <nav class="flex flex-wrap gap-4 mt-8">
          <a href="https://github.com/mich0rtega" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black duration-150">
            <GitHubIcon/>
            GitHub
          </a>
          <a href="mailto:mich.orte@gemlex.dev" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <EmailIcon/>
            Contacto
          </a>
        </nav>
      </div>
    </div>

    <div
      class="flex-shrink-0 w-full max-w-md snap-center rounded-lg mx-auto my-5"
    >
      <div class="flex flex-col items-center p-5">
        <img
          alt="Lizeth Ramos"
          class="w-24 h-24 rounded-full mx-auto"
        />
        <h1 class="font-bold text-xl mt-3">Lizeth Ramos</h1>
        <p class="text-center mt-2 opacity-80">
          Programadora Frontend. Durango, México 🇲🇽.
        </p>
        <nav class="flex flex-wrap gap-4 mt-8">
          <a href="https://github.com/lizsr" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black duration-150">
            <GitHubIcon/>
            GitHub
          </a>
          <a href="mailto:lize.ramo@gemlex.dev" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <EmailIcon/>
            Contacto
          </a>
        </nav>
      </div>
    </div>

    <div
      class="flex-shrink-0 w-full max-w-md snap-center rounded-lg mx-auto my-5"
    >
      <div class="flex flex-col items-center p-5">
        <img
          alt="Jessica Rivera"
          class="w-24 h-24 rounded-full mx-auto"
        />
        <h1 class="font-bold text-xl mt-3">Jessica Rivera</h1>
        <p class="text-center mt-2 opacity-80">
          Programadora Frontend. Durango, México 🇲🇽.
        </p>
        <nav class="flex flex-wrap gap-4 mt-8">
          <a href="https://github.com/jessr1vera" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black duration-150">
            <GitHubIcon/>
            GitHub
          </a>
          <a href="mailto:jess.riv@gemlex.dev" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <EmailIcon/>
            Contacto
          </a>
        </nav>
      </div>
    </div>

    <div
      class="flex-shrink-0 w-full max-w-md snap-center rounded-lg mx-auto my-5"
    >
      <div class="flex flex-col items-center p-5">
        <img
          alt="Edwin Solorza"
          class="w-24 h-24 rounded-full mx-auto"
        />
        <h1 class="font-bold text-xl mt-3">Edwin Solorza</h1>
        <p class="text-center mt-2 opacity-80">
          Programador Frontend. Durango, México 🇲🇽.
        </p>
        <nav class="flex flex-wrap gap-4 mt-8">
          <a href="https://github.com/edwins0l0rza" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black duration-150">
            <GitHubIcon/>
            GitHub
          </a>
          <a href="mailto:edwi.solo@gemlex.dev" class="inline-flex items-center justify-center gap-2 px-4 py-1 border border-gray-600 bg-gray-800 rounded-full hover:borer-gray-300 hover:text-black hover:bg-gray-100 roup max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
            <EmailIcon/>
            Contacto
          </a>
        </nav>
      </div>

      <script>
        const slider = document.getElementById("slider") as HTMLElement;
        let autoScrollInterval: number | undefined;

        function startAutoScroll(){
          autoScrollInterval = setInterval(() => {
            const maxScrollLeft = slider.scrollWidth - slider.clientWidth;

            if (slider.scrollLeft >= maxScrollLeft) {
              slider.scrollTo({ left: 0, behavior: "smooth" });
            } else {
              slider.scrollBy({ left: slider.clientWidth, behavior: "smooth" });
            }
          }, 3000);
        }

        function stopAutoScroll(){
          if (autoScrollInterval !== undefined) {
            clearInterval(autoScrollInterval);
            autoScrollInterval = undefined;
          }
        }

        document.addEventListener("DOMContentLoaded", () => {
          if (slider) {
            startAutoScroll();

            slider.addEventListener("mouseenter", stopAutoScroll);

            slider.addEventListener("mouseleave", startAutoScroll);
          }
        });
      </script>
    </div>
  </div>
</div>
