---
import Slide from "./Slide.astro"
---

<section class="flex mx-auto w-[1228px] h-[713px] overflow-hidden justify-center items-center" id="equipo">
    <div class="flex w-full h-[513px] bg-[#151515] rounded-lg shadow-2xl items-center justify-center">
        <Slide/>
    </div>
</section>